<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Profil</a></li>
    <li><a href="#!">Compte</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="{{ path('homepage') }}" class="brand-logo">GEScom</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-large" class="right hide-on-med-and-down">
            <li><a href="{{ path('category') }}">Catégories</a></li>
            <li><a href="{{ path('product') }}">Produits</a></li>
            <li><a href="{{ path('supplier') }}">Fournisseurs</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a class="dropdown-button materialize-red lighten-1" href="#!" data-activates="dropdown1">
                        <strong>{{ app.user.username }}</strong>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile">
            <li><a href="">Catégories</a></li>
            <li><a href="">Produits</a></li>
            <li><a href="">Fournisseurs</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="divider"></li>
                <li><a href="#!">Profil</a></li>
                <li><a href="#!">Compte</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
