{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop valign-wrapper">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col s1 offset-s1">
                <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path("add_product") }}">
                    <i class="material-icons">add</i>
                </a>
            </div>
        {% endif %}
        <div class="col s3  left-align">
            <h4>Produits</h4>
        </div>
        <div class="col s7 left-align">
            {% include('@Gescom/Partials/paginator.html.twig') %}
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Fournisseur</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for product in data %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            {% if product.category.name is defined %}
                                {{ product.category.name }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td>
                            {% if product.productSupplier | length > 0 %}
                                {% for supplier in product.productSupplier %}
                                    {{ supplier.supplier.name }}
                                    {% if false == loop.last %}
                                        ,&nbsp;
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('edit_product', {'product': product.id}) }}">
                                    <i class="small material-icons blue-text">mode_edit</i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="deleteButton" data-id="{{ product.id }}">
                                    <i class="small material-icons red-text modal-close">delete</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s8 offset-s2">
            {% include('@Gescom/Partials/paginator.html.twig') %}
        </div>
    </div>
    {% include('@Gescom/Modals/modalDeletion.html.twig') %}
{% endblock %}