{% extends '@Gescom/base.html.twig' %}

{% block body %}
    <main class="center-align margeTop">
        <div class="section">
            <p>
                {% if error %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                {% endif %}
            </p>
        </div>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <form class="col s12" method="post" action="{{ path('login') }}">
                    <div class='row'>
                        <div class='col s12'>
                            {% for flash_message in app.session.flashBag.get('notice') %}
                                <div class="card-panel materialize-red lighten-3">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='_username' id='username' value='{{ lastUsername }}'/>
                            <label for='email'>Entrez votre identifiant</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='_password' id='password' />
                            <label for='password'>Entrez votre mot de passe</label>
                        </div>
                        <label style='float: right;'>
                            <a class='materialize-red-text text-lighten-2' href="{{ path('forgotten') }}"><b>Mot de passe oublié ?</b></a>
                        </label>
                    </div>
                    <br />
                    <div class='row'>
                        <input type="checkbox" name="_remember_me" id="remember_me">
                        <label for="remember_me">Se rappeler de moi </label>
                    </div>
                    <div class='row'>
                        <button type='submit' name='login' class='col s12 btn btn-large waves-effect materialize-red lighten-2'>
                            Se connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}