{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop valign-wrapper">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col s1 offset-s1">
                <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path("add_category") }}">
                    <i class="material-icons">add</i>
                </a>
            </div>
        {% endif %}
        <div class="col s3  left-align">
            <h4>Catégories</h4>
        </div>
        <div class="col s7 left-align">
            {% include('@Gescom/Partials/paginator.html.twig') %}
        </div>

    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="row">
                {{ form_start(form) }}
                <div class="col s2">{{ form_label(form.name) }}{{ form_widget(form.name, {"value": filter.name } ) }}</div>
                <div class="col s2">{{ form_label(form.description) }}{{ form_widget(form.description, {"value": filter.description } ) }}</div>
                <div class="col s2 valign-wrapper">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Filtrer
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for category in data %}
                    <tr id="tr_{{ category.id }}">
                        <td class="categoryName"><strong>{{ category.name }}</strong></td>
                        <td>{{ category.description }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('edit_category', {'category': category.id}) }}">
                                    <i class="small material-icons blue-text">mode_edit</i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="deleteButton" data-id="{{ category.id }}">
                                    <i class="small material-icons red-text modal-close">delete</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s8 offset-s2">
            {% include('@Gescom/Partials/paginator.html.twig') %}
        </div>
    </div>

    {% include('@Gescom/Modals/modalDeletion.html.twig') %}

{% endblock %}