{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop valign-wrapper">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col s1 offset-s1">
                <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path("add_category") }}">
                    <i class="material-icons">add</i>
                </a>
            </div>
        {% endif %}
        <div class="col s9  left-align">
            <h4>Catégories</h4>
        </div>

    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr id="tr_{{ category.id }}">
                        <td class="categoryName"><strong>{{ category.name }}</strong></td>
                        <td>{{ category.description }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('edit_category', {'category': category.id}) }}">
                                    <i class="small material-icons blue-text">mode_edit</i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="deleteButton" data-id="{{ category.id }}">
                                    <i class="small material-icons red-text modal-close">delete</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include('@Gescom/Modals/modalDeletion.html.twig') %}

{% endblock %}